.faq {
  .accordion {
    text-align: left;
    list-style-type: none;
    color: $gray;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem auto;
    padding: 0;
      .faq-item {
        border-radius: 2px;
        padding: 20px;
        font-size: 0.8rem;
        line-height: 1.5;
        box-shadow: 0 0 5px 2px #eaeaea;
        margin: 12px 0;      
      .question {
        height: fit-content;
        min-height: 2rem;
        font-weight: 400;
        .title {
          float: left;
          width: 90%;
          margin: 10px 0;
          font-weight: 400;
          font-size: 1rem;
        }
        .caron {
          float: right;
          display: inline-block;
          padding-top: 20px;
          margin: 0;
          cursor: pointer;
          line-height: 0;
        }
      }
      .clear {
        clear: both;
        padding: 0;
        margin: 0;
        line-height: 0;
        font-size: 0;
      }
      .answer {
        height: 0;
        opacity: 0;
        transition: all 0.5s ease;
      }
      &.active {
        background-color: $white;
        .question {
          color: $blue;
          .caron {
            transform: rotate(-180deg);
            transition: ease .3s transform;
            padding-top: 0;
            border: 0;
          }
        }
        .answer {
          opacity: 1;
        }
      }
    }  
  }
  @media only screen and (max-width : 800px) {
    .accordion {
      margin: 1rem 10%;
    }
  }
}
