.hero-module {
  .hero-img {
    position: relative;
    width: 100%;
    max-width: 1920px;
  }

  .hero-copy {
    position: relative;
    font-weight: 400;
    margin-top: -32vw;
    left: 10%;
    color: $white;
    max-width: 24rem;
    text-align: left;
    // min-height: 6vw;
    h1 {
      line-height: 1;
      font-size: 3vw;
      font-weight: 800;
    }
    p {
      font-size: 1rem;
    } 
  }
  .hero-btn {
    border-radius: 2rem;
    font-size: 0.75rem;
    text-transform: none;
    min-width: 100px;
    min-height: 45px;
    &.white {
      background: $white;
    }
    &.blue {
      background: $blue;
      color: $white;
    }
    .md-button-content {
      padding: 2.0rem 1rem;
    }    
  }
}