.topbar {
  .md-toolbar {
    position: fixed;
    justify-content: center;
    .toolbar-button-set {
      margin: auto;
      .md-button {
        text-transform: none;
        .md-button-content {
          color: $white;
          text-transform: none;
        }
      }
    }
  }
}

/* Make sure the header is always at least 3em high */
header {
  min-height: 3em;
  width: 100%;
  background-color: transparent;
}

/* Reserve the same height at the top of the page as the header min-height */
// html:not([data-scroll='0']) body {
//   padding-top: 3em;
// }

/* Switch to fixed positioning, and stick the header to the top of the page */
html:not([data-scroll='0']) header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #2c343b;
  /* This box-shadow will help sell the floating effect */
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}
