.services-module {
  margin-top: 15vw;
  padding-bottom: 4rem;
  display: inline-block;
  .services-label {
    background: #e5ebf7;
    color: $blue;
    border-radius: 20px;
    padding: 3px;
    height: auto;
    .md-button-content {
      font-size: 0.5rem;
      font-weight: $black-bold;
    }
  }
  .headline {
    padding-bottom: 1.5rem;
  }  
  .wrapper.service-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 800px;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    color: $gray;
    margin: auto;
    justify-content: center;
    h3 {
      font-weight: 400;
      font-size: 1.25rem;
    }
  }
  .box {
    background-color: $white;
    border-radius: 2px;
    padding: 20px;
    font-size: 0.8rem;
    line-height: 1.5;
    box-shadow: 0 0 5px 5px #eaeaea;
    p {
      color: #999;
    }
  }
  // small break point, 1 col
  @media only screen and (min-device-width : 320px) and (max-width : 640px) {
    margin-top: 0;
    .wrapper.service-grid {
      grid-template-columns: 100%;
      margin: auto 15%;
    }
  } 
  // medium break point, 2 col
  @media only screen and (min-width : 641px) and (max-width : 800px) {
    margin-top: 0;
    .wrapper.service-grid {
      grid-template-columns: 50% 50%;
      margin: auto 10%;
    }
  }     
}