$body-bg: #f9f8f8;
// $component-bg: #252e39;
// $category-title-bg: #191c22;
// $voters-bg: #1f262f;
// $red-color: #b6372c;
// $gray-color: #868084;
$white: #fff;
$black: #000;
$blue: #3375ec;
$semi-bold: 600;
$black-bold: 800;