@import 'variables';
body {
  margin: 0;
  background-color: $body-bg;
  background-attachment: fixed;
  font-family: 'Muli', sans-serif !important;
  &.menu-open, &.hide-global-menu {
    position: fixed;
  }
  &.menu-open {
    .hideme {
      opacity: 1 !important;
    }
  }
}
.hiddenscroll { transition: opacity 1.0s; }
.hideme, .hiddenscroll {
  opacity: 0;
  &.showme {
  transition: opacity 1.0s;
    opacity: 1;
  }
}
h2 {
  font-weight: 400;
  font-size: 1.8rem;
}
.big {
  font-size: 1.8em;
  font-weight: 400;
  vertical-align: text-top;
}
.xbig {
  font-size: 3em;
  font-weight: 400;
}
.md-menu-content {
  background: #eee;
  .md-list-item-content { 
    color: $blue;
    font-size: .75rem;
  }  
}
@import 'about';
@import 'faq';
@import 'hero';
@import 'navigation';
@import 'services';
